<slider images = "images">
  
</slider>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">
        <h3 class="white">best<span class="white">HOTELS</span></h3>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-2">
        <h3>Host</h3>
      </div>
      <div class="col-md-2">
        <h3 class="white">My list </h3>
      </div>
      <div class="col-md-2">
        <h3 class="white">SingIn</h3>
      </div>
    </div>
    
  </div>

  
</div> -->

  <div class="navleft">
    <ul>
      <li role="presentation" class="logo"><a href="#">bestHotels</a></li>
    </ul>
  </div>
    <div class="navig">
      <ul class="nav">
       <li role="presentation"><a href="#">Log In</a></li>
       <li role="presentation"><a href="#">My List</a></li>
       <li role="presentation"><a href="#">Host</a></li>
      </ul>
    </div>
  


<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
     <div id="sbox">
     </div>
          <div id="search">
             <div class="form-group col-md-4" ng-class="search">
               <input autofocus type="text" name="search" class="form-control" ng-model="search" placeholder="Where do you want to go?">
             </div>
              <div class="form-group col-md-2">
                <input autofocus type="date" name="search" class="form-control" ng-model="calendar" placeholder="Check In?">
              </div>
               <div class="form-group col-md-2">
                <input autofocus type="date" name="search" class="form-control" ng-model="calendar1">
              </div>
              <div class="form-group col-md-2">
                      <select class="form-control" name="guest" id="guest" ng-model="guest"  placeholder="Where do ?"> 
                        <option value="1 Guest">1 Guest</option>
                        <option value="2 Guests"selected>2 Guests</option>
                        <option value="3 Guests">3 Guests</option>
                        <option value="4 Guests">4 Guests</option>
                        <option value="5 Guests">5 Guests</option> 
                        <option value="6 Guests">6 Guests</option>
                        <option value="7 Guests">7 Guests</option>
                        <option value="8 Guests">8 Guests</option>
                        <option value="9 Guests">9 Guests</option>
                        <option value="9 Guests">10 Guests</option>
                        <option value="9 Guests">11+ Guests</option>
                      </select>
              </div>
              <div class="form-group col-md-2">
                   <input type="submit" value="Search" class="searchButton">
              </div>
          </div>
      </div> 
    </div>
<div>
    <!-- WHY bestHotels -->
    <!-- <div class="container-fluid"> -->
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Why bestHotels?</h2>
        </div>
      </div>
    <!-- </div> -->  
    <br>
    <!-- <div class="container-fluid"> -->
      <div class="row">
        <!-- <div class="col-md-12 col-xs-offset-9> -->
            <div class="col-md-2">
            </div>
            <div class="col-md-2 text-center">
              <img class="why" ng-src="/images/m.png" alt="best selection"/>
            </div>
            <div class="col-md-1 ">
            </div>
            <div class="col-md-2 text-center">
              <img class="why" ng-src="/images/love.png" alt="compare prices"/>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2 text-center">
              <img class="why" ng-src="/images/dog.png" alt="easy to use"/>
            </div>
            <div class="col-md-2">
            </div>
        <!-- </div>  -->   
      </div>
      <div class="row">
         <div class="col-md-2">
            </div>
            <div class="col-md-2 ">
              <h3 class="text-center">Best Selection</h3>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2 ">
              <h3 class="text-center">Compare Prices</h3>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2 ">
              <h3 class="text-center">Easy to Use</h3>
            </div>
            <div class="col-md-2">
            </div>
       </div>
       <div class="row">
         <div class="col-md-2">
            </div>
            <div class="col-md-2 ">
              <p class="text-center">Search thousands of travel websites instantly.</p>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2 ">
              <p class="text-center">Quickly compare prices across hotels providers.</p>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2 ">
              <p class="text-center">Nulla meatball shoulder ea beef sed chuck, ullamco.</p>
            </div>
            <div class="col-md-2">
            </div>
       </div>
       <div class="col-md-12">
         <h2 class="text-center">Explore the world</h2>
       </div>
 </div>
 


